.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25em;
}
.label-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.625em;
}
.error {
    color: #EC5757;
    font-size: 0.625rem;
    margin: 0;
}

.form-control label {
    color: #7E88C3;
}
.form-control input,
.form-control select {
    border: 1px solid #DFE3FA;
    padding: 1em 1.25em;
    font: inherit;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
}
.form-control input:focus,
.form-control select:focus {
    border: 1px solid #9277FF;
    outline: none;
}

.form-control--invalid input,
.form-control--invalid select {
    border: 1px solid #EC5757;
    /* background-color: #ffd1d1; */
}

.form-control--invalid input:focus,
.form-control--invalid select:focus {
    border: 1px solid #EC5757;
    outline: none;
}

.select-option  {
    appearance: inherit;
    margin: 1em;
}

.form-control__split {
    margin-right: 1em;
}
.form-control__split:last-child {
    margin: 0;
}
.form-control__tablet {
    display: none;
}
@media (min-width: 640px) {
    .form-control__mobile {
        display: none;
    }
    .form-control__tablet {
        display: flex;
    }
}